<section class="section">
  <div class="container">
    <h1 class="title">Editing Spot Cues Spotlight</h1>

    <%= render 'form', spot_cues_spotlight: @spot_cues_spotlight %>

    <%= link_to 'Show', @spot_cues_spotlight %> |
    <%= link_to 'Back', spot_cues_spotlights_path %>
  </div>
</section>