<section class="section">
  <div class="container">
    <h1 class="title">New Spotlight Model</h1>

    <%= render 'form', spotlight_model: @spotlight_model %>

    <%= link_to 'Back', spotlight_models_path %>
  </div>
</section>