<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Welcome to the Harrison Freni Lighting Design paperwork portal.</h1>
            <p class="subtitle">Let's get <strong>started</strong></p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-8">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">Shows Designed this Season:</p>
                            <p class="subtitle">Hmm.... We can do better!</p>
                        </article>
                        <article class="tile is-child notification is-warning">
                            <p class="title">Date of Next Load-In:</p>
                            <p class="subtitle">Performance Title: </p>
                        </article>
                    </div>
                    <div class="tile is-parent is-vertical">
                        <article class="title is-child notification is-info">
                            <p class="title">Here's a show photo!</p>
                            <p class="subtitle">It's pretty neat!</p>
                            <figure class="image is-4by3"><img src="https://bulma.io/images/placeholders/640x480.png" alt="" /></figure>
                        </article>
                    </div>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-danger">
                        <p class="title">This is a long boi</p>
                        <p class="subtitle">He is long!</p>
                        <div class="content"></div>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is child notification is-success">
                    <div class="content">
                        <p class="title">TALL BOI!</p>
                        <p class="subtitle">WE HAVE TO BE SUPER TALL!!!</p>
                        <div class="content"></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="section">
      <%= link_to  %>
    </div>
</section>
