<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @spotlight_position.position_name %>
</p>

<%= link_to 'Edit', edit_spotlight_position_path(@spotlight_position) %> |
<%= link_to 'Back', spotlight_positions_path %>
