<section class="section">
  <div class="container">
    <h1>Editing Spotlight</h1>

    <%= render 'form', spotlight: @spotlight %>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <%= button_to 'Show', @spotlight, :class => "button is-success", :method => :get  %>
      </p>
      <p class="control">
        <%= button_to 'Back', spotlights_path, :class => "button is-link", :method => :get %>
      </p>
    </div>
  </div>
</section>