<section class="section">
  <div class="container">
    <h1 class="title">New Spotlight</h1>

    <%= image_tag("SpotOp.png") %>

    <%= render 'form', spotlight: @spotlight %>

    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <%= button_to 'Back', spotlights_path, :class => "button is-link", :method => :get %>
      </p>
    </div>
  </div>
</section>