<section class="section">
  <div class="container">
    <h1 class="title">Editing Color</h1>

    <%= render 'form', color: @color %>

    <%= link_to 'Show', @color %> |
    <%= link_to 'Back', colors_path %>
  </div>
</section>